/* GENERAL */

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

/* BODY */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.card {
  width: calc(100% / 3);
  display: inline-block;
  padding: 10px;
}

.card-image {
  position: relative;
  margin-bottom: 5px;
}

.card-image img {
  width: 100%;
}

.second-image {
  display: none;
}

.heart {
  position: absolute;
  top: 20px;
  right: 0;
  background-color: white;
  padding: 10px 15px;
  font-size: 20px;
}

.card-promo {
  position: absolute;
  left: 0;
  bottom: 20px;
}

.card-discount {
  background-color: #eb0037;
  color: white;
  padding: 5px;
  font-weight: bold;
}

.card-tag {
  background-color: #00875a;
  color: white;
  padding: 5px;
  font-weight: bold;
}

.card-image:hover .first-image {
  display: none;
}

.card-image:hover .second-image {
  display: inline-block;
}





